html,

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.125rem;
}

/* tasks-topbar */

.task-topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #DFDFDF;
    height: 55px;
}

.task-topbar .icon {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}


.notification_button {
    flex: 1;
    display: flex;
}


.tasks-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
}

.today a {
    color: #fff;
    text-decoration: none;
}

input[type=checkbox] {
    transform: scale(2);
}

.form-check {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-right: 20px;
}

.tasks-card-pink1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    background: #fea1a1;
    border: 1px solid #fea1a1;
    color: #FFF;
    border-radius: 10px;
    height: 40px;
    width: 326px;
    padding-left: 20px;
    margin-top: 15px;
}

.tasks-card-pink2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: #fea1a1;
    border: 1px solid #fea1a1;
    color: #FFF;
    border-radius: 10px;
    height: 40px;
    width: 326px;
    padding-left: 20px;
    margin-top: 15px;
}


.tasks-card-blue1 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: #45a1e4;
    border: 1px solid #45a1e4;
    color: #FFF;
    border-radius: 10px;
    height: 40px;
    width: 326px;
    padding-left: 20px;
    margin-top: 15px;
}

.tasks-card-blue2 {
    background: #45a1e4;
    border: 1px solid #45a1e4;
    color: #FFF;
    border-radius: 10px;
    height: 40px;
    width: 326px;
    padding-left: 20px;
    margin-top: 15px;
}

.upcoming-card {
    background: #6b6c6d;
    border: 1px solid #6b6c6d;
    color: #FFF;
    border-radius: 10px;
    height: 40px;
    width: 326px;
    padding-left: 20px;
    margin-top: 15px;
}


.someday-card {
    background: #e4ba45;
    border: 1px solid #e4ba45;
    color: #FFF;
    border-radius: 10px;
    height: 40px;
    width: 326px;
    padding-left: 20px;
    margin-top: 15px;
}

.form-group {
    display: flex;
    margin-top: 145px;
}

.form-group {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}

#formGroupExampleInput {
    display: flex;
    border: 2px #747474 solid;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
    width: 258px;
    padding-left: 15px;
}

.btn.btn-primary.mb-2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    color: #c4c4c4;
}

.submit-button input {
    background-color: #747474;
    outline: none;
}


.bottom-bar {
    background-color: #DFDFDF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 55px;
}

.bottom-bar .icon {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

/* end of tasks-topbar */