.main-container .navi-bar {
    display: flex;
}

.navi-bar .title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.navi-bar .date {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: space-between;
}